# Variables d'environnement (copier en .env et adapter)

# Versions (vide = auto-detect latest au build)
NGINX_VER=
MODSEC_VER=
OWASP_CRS_VER=

# GeoIP DB release (vide = mois courant)
GEO_DB_RELEASE=
